.highlight {
    background-color: #CCFFCC; /* Highlight color */
    font-weight: bold; /* Optional: make the text bold */
}

/* Basic styling */
body {
    background-color: #f4f4f4; /* Light gray background */
    font-family: Arial, sans-serif; /* Font style */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding */
}

h1, h2, h3 {
    color: #333; /* Dark gray color for headers */
}

button {
    background-color: #AF0034; /* Bootstrap primary color */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 15px; /* Padding for buttons */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
    background-color: #730023; /* Darker blue on hover */
}

a {
    color: #001020; /* Link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline;
     color: #AF0034;
}

/* Basic styling */
body {
    background-color: #f4f4f4; /* Light gray background */
    font-family: Arial, sans-serif;
}

/* Styles for tables */
table {
    width: 60%;
    border-collapse: collapse; /* Merge borders */
    margin-bottom: 20px; /* Space below the table */
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc; /* Border for cells */
}

th {
    background-color: #AF0034; /* Header background color */
    color: white; /* Header text color */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for even rows */
}

tr:hover {
    background-color: #e0e0e0; /* Highlight row on hover */
}

/* Styles for the login form */

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in width */
}


button {
    padding: 10px;
    background-color: #AF0034;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #730023;
}

#alert {
    margin-bottom: 15px;
    color: red;
    display: none; /* Initially hidden */
}
