<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Driver</title>

</head>
<body>
    <h1>Add Driver</h1>
    <form action="/add_driver" method="post" id="add_driver" onsubmit="showAlert(event)">
        <label for="name">Driver Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        <br>
        <label for="total_pole_positions">Total Pole Positions:</label>
        <input type="number" id="total_pole_positions" name="total_pole_positions" required>
        <br>
        <label for="total_race_wins">Total Race Wins:</label>
        <input type="number" id="total_race_wins" name="total_race_wins" required>
        <br>
        <label for="total_points">Total Points Scored:</label>
        <input type="number" id="total_points" name="total_points" required>
        <br>
        <label for="total_world_titles">Total World Titles:</label>
        <input type="number" id="total_world_titles" name="total_world_titles" required>
        <br>
        <label for="total_fastest_laps">Total Fastest Laps:</label>
        <input type="number" id="total_fastest_laps" name="total_fastest_laps" required>
        <br>
        <label for="team">Team:</label>
        <select name="team" id="team" required>
            {% for team in teams %}
                <option value="{{ team.id }}">{{ team.team_name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Add Driver</button>
    </form>
    <a href="/view_driver">Back</a>
</body>
</html>
