<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Teams</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Compare Teams</h1>
    <form action="/compare_teams" method="get">
        <label for="team1">Select Team 1:</label>
        <select name="team1" id="team1" required>
            {% for team in teams %}
                <option value="{{ team.id }}">{{ team.team_name }}</option>
            {% endfor %}
        </select>
        
        <label for="team2">Select Team 2:</label>
        <select name="team2" id="team2" required>
            {% for team in teams %}
                <option value="{{ team.id }}">{{ team.team_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Compare Team</button>
    </form>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ team1.team_name }}</td>
                <td>{{ team2.team_name }}</td>
            </tr>
            <tr>
                <td>Year Founded</td>
                <td class="{% if  team1.year_founded < team2.year_founded %}highlight{% endif %}">{{ team1.year_founded  }}</td>
                <td class="{% if  team2.year_founded < team1.year_founded %}highlight{% endif %}">{{ team2.year_founded  }}</td>
            </tr>
            <tr>
                <td>Total Pole Positions</td>
                <td class="{% if  team1.total_pole_positions > team2.total_pole_positions %}highlight{% endif %}">{{ team1.total_pole_positions  }}</td>
                <td class="{% if  team2.total_pole_positions > team1.total_pole_positions %}highlight{% endif %}">{{ team2.total_pole_positions  }}</td>
            </tr>
            <tr>
                <td>Total Race Wins</td>
                <td class="{% if  team1.total_race_wins > team2.total_race_wins %}highlight{% endif %}">{{ team1.total_race_wins  }}</td>
                <td class="{% if  team2.total_race_wins > team1.total_race_wins %}highlight{% endif %}">{{ team2.total_race_wins  }}</td>
            </tr>
            <tr>
                <td>Total Constructor Titles</td>
                <td class="{% if  team1.total_constructor_titles > team2.total_constructor_titles %}highlight{% endif %}">{{ team1.total_constructor_titles  }}</td>
                <td class="{% if  team2.total_constructor_titles > team1.total_constructor_titles %}highlight{% endif %}">{{ team2.total_constructor_titles  }}</td>
            </tr>
            <tr>
                <td>Finishing Position Previous Season</td>
                <td class="{% if  team1.finishing_position < team2.finishing_position %}highlight{% endif %}">{{ team1.finishing_position  }}</td>
                <td class="{% if  team2.finishing_position < team1.finishing_position %}highlight{% endif %}">{{ team2.finishing_position  }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
