<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <title>Filter Teams</title>
</head>
<body>
    <h1>Filter Teams</h1>
    <form action="/filter_team" method="post">
        <label for="attribute">Attribute:</label>
        <select name="attribute" id="attribute">
            <option value="year_founded">Year Founded</option>
            <option value="total_pole_positions">Total Pole Positions</option>
            <option value="total_race_wins">Total Race Wins</option>
            <option value="total_constructor_titles">Total Constructor Titles</option>
            <option value="finishing_position">Finishing Position</option>
        </select>  
        <label for="comparison">Comparison:</label>
        <select name="comparison" id="comparison">
            <option value="==">Equal</option>
            <option value="<">Less Than</option>
            <option value=">">Greater Than</option>
        </select>
        
        <label for="value">Value:</label>
        <input type="text" name="value" id="value" required>
        
        <button type="submit">Filter</button>
    </form>

    <h2>Available Teams</h2>
    {% if not teams %}
    <P>No Teams Available</P>
    {% endif %}
    <ul>
        {% for team in teams %}
            <li><a href="/team_details?id={{ team.id }}">{{ team.team_name }}</a></li>
        {% endfor %}
    </ul>

    <a href="/view_team">Back</a>
</body>
</html>
