
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Drivers and Teams</title>
    <script type="module" src="{{ url_for('static', path='/firebase-login.js') }}"defer></script>
</head>
<body>
    <h1>F1 Drivers and Teams</h1>

    <div id="user-info">
        {% if is_logged_in %}
            <p>Welcome, User!</p>
            <div id="add-buttons">            </div>
            <div>
                <button id="logout-link">Logout</button>
            </div>
        {% else %}
            <p>Please log in to access additional features.</p>
            <div id="login-link">
                <a href="/login">Login</a>
            </div>
        {% endif %}
    </div>
    <a href="/view_driver">Drivers</a><br>
    <a href="/view_team">Teams</a>
</body>
</html>
